:root {
  --color-orange: hsl(25, 100%, 50%);
  --color-orange-lighter: hsl(25, 100%, 60%);
  --color-orange-lightest: hsl(25, 100%, 75%);
  --color-orange-darker: hsl(25, 100%, 40%);
  --color-orange-darkest: hsl(25, 100%, 35%);

  --color-dark-0: hsl(0, 0%, 0%);
  --color-dark-1: hsl(0, 0%, 10%);
  --color-dark-2: hsl(0, 0%, 20%);
  --color-dark-3: hsl(0, 0%, 30%);
  --color-dark-4: hsl(0, 0%, 40%);
  --color-dark-5: hsl(0, 0%, 50%);
  --color-white-transparent: hsla(0, 0%, 100%, 0.873); /*tungalag*/

  --color-white-0: hsl(0, 0%, 100%);
  --color-white-1: hsl(0, 0%, 90%);
  --color-white-1_5: hsl(0, 0%, 85%);
  --color-white-2: hsl(0, 0%, 80%);
  --color-white-3: hsl(0, 0%, 70%);
  --color-white-4: hsl(0, 0%, 60%);

  --bg-color-accent: var(--color-orange);
  --text-color-default: var(--color-dark-1);
  --text-color-accent: var(--color-orange-darker);
  --text-color-muted: var(--color-dark-4);

  --shadow-color: var(--color-white-1_5);

  /* turshij uzew oorchilj bolno */
  --font-size-default: 15px;
  --font-size-title: 30px;
  --font-size-subtitle: 20px;

  --font-size-big: 30px;
  --font-size-medium: 20px;
  --font-size-small: 15px;

  --font-family-nunito: 'Nunito', sans-serif;
}
*{
  font-family: var(--font-family-nunito);
}
body {
  margin: 0;
  padding: 0.5rem 1rem;
}
.food {
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
  h3 {
    color: var(--text-color-accent);
  }
  img {
    width: 100px;
    height: 100px;
  }
}

/* link style */
a {
  color: var(--color-dark-1);
  text-decoration: none;
}
.active {
  color: var(--text-color-accent);
}

/* scroll bar hide */
::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
}

/* footer app menu */
lp-nav nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  /* tur bc nechhey */
  background-color: var(--color-white-0);
  z-index: 1000;
  padding: 0.5rem 0rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 -4px 10px var(--shadow-color);

  a {
    padding: 10px;
  }

  a > i {
    font-size: 25px;
  }

  span{
      padding: 3px 8px;
      background: orange;
      border-radius: 50%;
      position: absolute;
      top: 8px;
  }

}

/* location info and notif btn */
lp-home-header section {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;

  a {
    display: flex;
    gap: 10px;
    width: 55vw;

    i {
      font-size: var(--font-size-big);
      align-self: center;
      color: var(--text-color-accent);
    }

    p {
      font-size: var(--font-size-default);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: var(--color-dark-1);

      span {
        font-size: var(--font-size-small);
        color: var(--text-color-muted);
      }
    }
  }

  button {
    width: 45px;
    height: 45px;
    align-self: center;
    border-radius: 50%;
    /* outline: none; */
    border: none;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0px 2px 4px var(--shadow-color);
    background-color: var(--color-white-0);

    i {
      font-size: var(--font-size-medium);
    }
  }
}

lp-bg-btn {
  display: flex;
  justify-content: center;

  button {
    background-color: var(--bg-color-accent);
    color: var(--color-dark-1);
    font-weight: 500;
    width: 75vw;
    height: 52px;
    padding: 10px 0;
    border-radius: 15px;
    border: none;
  }
}
.container {
  /* max-width: 1200px; */
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  padding-top: 80px;
}


/* save */
.save-main, .payment-main, .acc-main{
  margin-top: 80px;
}

/* profile -- acc  */
.user-info, .acc-info, .help-info, .delivery-info{
  margin-bottom: 20px;
  border-radius: 15px;
  /* box-shadow: -2px 3px 16px var(--color-white-3); */
  box-shadow: -2px 3px 16px hsl(0deg 0% 70% / 55%);
  padding: 10px 15px;
}
.user-info{
  .profile{
    display: flex;
    align-items: center;
    position: relative;
    font-size: 20px;
    font-family: var(--font-family-nunito);
    padding: 15px 0 25px 0;
    border-bottom: 1px solid var(--color-dark-5);

    img{
      width: 80px;
      height: 80px;
      border-radius: 50%;
      margin-right: 10px;
    }

    button{
      position: absolute ;
      right: 0; 
      padding: 10px 20px;
      border-radius: 30px;
      outline: none;
      border: none;
      /* background-color: var(--color-orange-lightest); */
      background-color: hsla(0, 100%, 90%, 0.523);
      color: var(--bg-color-accent);
      font-size: 15px;
    }
  }

  .dash{
    display: flex;
    justify-content: space-between; 
    padding: 0 15px;
    gap: 20px;

    li{
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 15px;
      border-radius: 15px;
      /* background-color: var(--color-white-1);  */
      background-color: hsl(0deg 0% 95.31% / 87%);; 
      flex-grow: 1;
      font-size: 25px;
      font-family: var(--font-family-nunito);

      span{
        font-size: 13px;
        color: var(--color-dark-5);
      }
    }
  }
}

.acc-info, .help-info, .delivery-info{
  li{
    list-style: none;
    padding: 10px 0;
    border-bottom: 1px solid var(--color-white-2);

    a{
      display: flex;
      align-items: center;
      position: relative;
      gap: 10px;

      div.info-icon{ 
        padding: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%; 
        background-color: #f5f5ff;
      }
      span{
        position: absolute;
        right: 0;
      }
    }
  }

  li:last-child{
    border-bottom: none;
  }
}


/* payment section */
.payment-main{
  padding: 0 20px;
  overflow: hidden;

  .map-img{  

    img{
      width: 100%;
      height: 100%;
    }
  }

  .delivery-info{
    p{
      display: flex;
      flex-direction: column;
    }

    .add-info{
      line-height: 5px;
    }
    .add-info p:last-child{
      color: var(--color-white-4);
    }
  }

  .paying-info{
    display: flex;
    justify-content: space-between;
    padding: 0 5px;

    li{
      list-style: none;
      width: 100px;
      height: 100px;
      border-radius: 20px;
      box-shadow: 0 0 11px var(--color-white-3);
      
      a{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;  
        align-items: center;  
        justify-content: center; 
        text-decoration: none;  

        img{  
          height: auto;
          margin-bottom: 8px;
        }
        p{ 
          margin: 0;
          font-size: 14px;
          color: #333;
          text-align: center;
        }
      } 

      a.selected {
        border: 2px solid var(--color-orange-lighter);
        background: #f4fbf7;
        border-radius: 20px;
        box-shadow: 0 -1px 20px var(--color-orange-lightest);
      }
    } 
  }

  #voucher-info{
    width: 100%;
    padding: 20px;
    border: 2px dashed green;
    border-radius: 15px;
    outline: none;
    appearance: none;
    background-color: #90ee9038;
    color: #053b05;

    background-image: url("data:image/svg+xml;utf8,<svg fill='%232ecc71' height='20' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
    background-repeat: no-repeat;
    background-position: right 16px center;
  }

  .price-info{ 
    padding: 0 5px;

    li{
      list-style: none;
      display: flex;
      justify-content: space-between;
      line-height: 0;
    }

    li:last-child{
      border-top: 1px dashed black;
      padding-top: 10px;
    }
  }
} 


/*  */
.checkout-btn {
  width: 100%;
  background: var(--bg-color-accent);
  color: white;
  border: none;
  padding: 16px;
  border-radius: 15px;
  font-size: var(--font-size-subtitle);
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s ease;
}